#cihaz {
    border-collapse: collapse;
    width: 100%;
}
#cihaz td, #cihaz th {
    border: 1px solid #a9a9a9;
    padding: 8px;
}
#cihaz tr{
    background-color: #f2f2f2;
}
#cihaz th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #1abc9c;

    color: #2c3e50;
    text-decoration: underline;
}

input[type=text],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#formcihaz {
    margin-top: 20px;
    width:100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}