body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.container-div{
     display: flex;
 }
#left-div{
    width: 50%;
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 23.8% 34.3%,  rgba(255,18,72,0.8) 0%, rgba(255,216,29,0.8) 90.1% );
    display: flex;
    justify-content: center;
    align-items: center;
}
#right-div{
    width: 50%;
    height: 100vh;
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(8,174,234,0.8), rgba(42,245,152,0.8));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(8,174,234,0.8), rgba(42,245,152,0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    text-transform: uppercase;
}
.button:hover{
    color: black;
    border: white 2px solid;
    background-color: #08AEEA;
    background-image: linear-gradient(-90deg, #08AEEA 0%, #2AF598 100%);
    opacity: 0.7;
    font-size: 60px;

}
.button-tekniker:hover{
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);

}
.button-tekniker{
   background-color: transparent;
    border: black 2px solid;
}
.button-musteri{
    background-color: transparent;
    border:black 2px solid;
}
.img-left{
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    opacity: 0.6;
}
.img-right{
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    opacity: 0.6;
}
input[type=text], input[type=password],input[type=tel] {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
*:focus{
    outline: 0;
}
.form-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    background-color: #3498db;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.form-container .cancel {
    background-color: #e74c3c;
}
.form-container .btn:hover {
    opacity: 1;
}


.form-popup1 {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.form-container1 {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container1 input[type=text], .form-container1 input[type=password],.form-container1 input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container1 input[type=text]:focus, .form-container1 input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.form-container1 .btn1 {
    background-color: #3498db;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.form-container1 .cancel1 {
    background-color: #e74c3c;
}
.form-container1 .btn1:hover {
    opacity: 1;
}